<footer class="bg-dark text-white text-center py-3 mt-5">
  <div class="container">
    <small>&copy;2025 SpaceBook. All rights reserved.</small>
    <br />
    <small>IML208 - PROGRAMMING FOR LIBRARIES</small><br />
    GROUP PROJECT: SYSTEM DEVELOPMENT PROJECT
    <hr />
    <strong>Developed by Team Alpha</strong><br />
    <small>MUHAMAD NASRUL BIN HUSSAIN (2024620964)</small><br />
    <small>NUR FARAH IZNI BINTI KHARUAZMAN (2024279646)</small><br />
    <small>RIZQ SYAHMI BIN MUHAMMAD FUAD (2024295574)</small><br />
    <small>SYARIFAH IKLIL ADLINA BINTI SYED KHAIRIL IMRAN (2024400574)</small>
  </div>
</footer>
